# Python
__pycache__/
*.py[cod]

# Build
build/
dist/
*.egg-info

# Virtualenv
.venv/

# Logs / outputs
logs/
outputs/
train/log/
train/output/
models/

# Dataset / treino
*/meu_dataset/
lerobot-ext/train_output/

# Submodules / libs locais
lerobot-ext/tracelr/

# Pesos de ML
*.pt
*.pth

# IDE
.vscode/
