[submodule "lerobot"]
	path = lerobot
	url = https://github.com/Breno-de-Angelo/lerobot
[submodule "unitree_sdk2_python"]
	path = unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python.git
