*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
assets/meshes/head_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_ankle_roll_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_elbow_link_merge.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hand_index_0_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hand_index_1_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hand_middle_0_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hand_middle_1_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hand_palm_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hand_thumb_1_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hand_thumb_2_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hip_pitch_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hip_roll_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_hip_yaw_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_knee_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_rubber_hand.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_shoulder_pitch_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_shoulder_roll_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_shoulder_yaw_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_wrist_roll_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_wrist_roll_rubber_hand.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/left_wrist_yaw_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/logo_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/pelvis.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/pelvis_contour_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_ankle_roll_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_elbow_link_merge.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hand_index_0_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hand_index_1_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hand_middle_0_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hand_middle_1_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hand_palm_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hand_thumb_1_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hand_thumb_2_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hip_pitch_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hip_roll_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_hip_yaw_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_knee_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_rubber_hand.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_shoulder_pitch_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_shoulder_roll_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_shoulder_yaw_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_wrist_roll_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_wrist_roll_rubber_hand.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/right_wrist_yaw_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/torso_constraint_L_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/torso_constraint_R_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/torso_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/torso_link_rev_1_0.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/waist_constraint_L.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/waist_constraint_R.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/waist_support_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/waist_yaw_link.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes/waist_yaw_link_rev_1_0.STL filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/shoulder__2.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/shoulder__3.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/shoulder__4.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/shoulder__5.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/shoulder.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/wrist__2.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/wrist__3.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/wrist__4.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/wrist__5.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/wrist__6.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_left/wrist.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/shoulder__2.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/shoulder__3.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/shoulder__4.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/shoulder__5.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/shoulder.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/wrist__2.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/wrist__3.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/wrist__4.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/wrist__5.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/wrist__6.stl filter=lfs diff=lfs merge=lfs -text
assets/meshes_exo_right/wrist.stl filter=lfs diff=lfs merge=lfs -text
